md-dialog(aria-label="Deep Zoom")
  md-toolbar
    .md-toolbar-tools
      h2 Deep Zoom
      span(flex)
      md-button.md-icon-button(ng-click="vm.cancel()")
        md-icon(md-font-set="material-icons") close
  md-dialog-content
    //- .md-dialog-content

    ace-open-seadragon(src="{{vm.image}}", prefix-url="./img/openseadragon/images/")

  md-dialog-actions(layout="row")
    span(flex)
    md-button(ng-click="vm.cancel()") Close
