md-subheader.md-no-sticky.field-toolbar
  md-toolbar.md-menu-toolbar
    .md-toolbar-tools
      md-checkbox.md-primary.field-apply(ng-show="::vm.fieldApply !== undefined", ng-model="vm.fieldApply", aria-label="Apply to all?")
      h3(ng-class="{required: vm.fieldOptions.settings.required}") {{vm.fieldOptions.name}}

div(flex, layout="row", layout-margin)

  md-input-container
    md-checkbox(ng-model="vm.fieldModel", aria-label="{{vm.fieldOptions.name}}?", ng-required="vm.fieldOptions.settings.required")
