.modal-backdrop(ng-click="$modal.dismiss()")
.modal
  .modal-dialog
    .modal-content
      .modal-header

        md-toolbar
          .md-toolbar-tools
            h2 User
            span(flex)
            md-button.md-icon-button(ng-click="$modal.dismiss()")
              md-icon(md-font-set="material-icons") close

      .modal-body(style="padding: 16px 0")

        form(name="vm.itemForm", role="form", novalidate)

          div(layout="column", layout-margin)

            md-input-container
              label Email
              input(type="email", ng-model="vm.item.email", required, ng-disabled="vm.items.length > 0", ng-pattern='vm.keyPattern')

            md-input-container
              label First Name
              input(ng-model="vm.item.firstName", required, ng-minlength='2', ng-maxlength='20', ng-pattern='/^[a-zA-Z\u00C0-\u017F\s-]*$/')

            md-input-container
              label Last Name
              input(ng-model="vm.item.lastName", required, ng-minlength='2', ng-maxlength='20', ng-pattern='/^[a-zA-Z\u00C0-\u017F\s-]*$/')

            md-input-container
              md-checkbox(ng-model='vm.item.active', aria-label='Active?') Active

            br

            md-input-container
              label Role
              md-select(ng-model="vm.item.role")
                md-option(ng-repeat="role in $admin.getRoles()", value="{{role.slug}}") {{role.name}}

          md-toolbar.md-table-toolbar.md-primary
            .md-toolbar-tools Roles

          md-table-container
            table(md-table)

              thead(md-head)
                tr(md-row)
                  th(md-column)
                  th(md-column) Users
                  th(md-column) Files
                  th(md-column) Taxonomy
                  th(md-column) Delete

              tbody(md-body)
                tr(md-row, ng-repeat="role in $admin.getRoles()")
                  td(md-cell) {{role.name}}
                  td(md-cell) {{role.permissions.users ? '&check;' : '&times;'}}
                  td(md-cell) {{role.permissions.fileCreate ? '&check;' : '&times;'}}
                  td(md-cell) {{role.permissions.taxonomyCreate ? '&check;' : '&times;'}}
                  td(md-cell) {{role.permissions.entityDelete ? '&check;' : '&times;'}}

      .modal-footer(layout="row")

        span(flex)
        md-button.md-accent(ng-click="vm.save()", ng-disabled="vm.itemForm.$invalid") Save
        md-button.md-warn(ng-click="$modal.dismiss()") Cancel
