* {
	// box-sizing: border-box !important;
}

body {
  overflow: hidden;
}

textarea {
	min-height: 10rem;
	resize: vertical;
}

hr {
	border-top: 1px solid lightgrey;
  border-bottom: none;
}

table {
  width: 100%;
}

strong, b, h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: auto;
}

md-toolbar {
  strong, b, h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
  }
}
