.mdi {
  font-size: 24px;
}

.md-datepicker-calendar-pane {
  width: 340px;
}

md-input-container > md-select {
  margin-bottom: 16px;
}

.md-autocomplete-suggestions-container {
  min-width: 340px !important;
}

.md-autocomplete-suggestions {
  .md-caption {
    height: 22px;
    line-height: 28px;
    font-style: italic;
  }
}

.md-datepicker-button {
  margin: 0 0 0 -8px !important;
  padding: 0 !important;
}

md-chip [ace-sortable] * {
  pointer-events: none;
}

md-toolbar.md-secondary {
  background-color: lightgrey;
  color: black;
}

md-dialog-content {
  md-toolbar:first-child {
    margin-top: -24px;
  }

  md-table-container,
  .md-table-toolbar {
    margin: 0 -24px;
    max-width: none;
    width: auto;
  }
}

.md-table {
  .md-column {
    font-weight: 500 !important;
  }
  .md-row {
    outline: none;
  }
  md-icon {
    // margin-top: -4px;
    min-width: 0;
    min-height: 0;
  }
}

.md-table.md-table-sortable {
  .md-cell {
    background: white;
  }
}

.md-table.md-table-expanded {
  padding-top: 56px;

  .md-head {
    margin-top: -56px;
    position: fixed;
    z-index: 1;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 6px 10px rgba(0, 0, 0, 0.05);
    height: 56px;
    width: 100%;
    @media (min-width: 1280px) {
      width: calc(100% - 220px);
    }

    .md-row {
      position: absolute;
      width: 100%;
      display: flex;

      .md-checkbox-column {
        flex: 0 0 0;
        align-self: center;
      }

      .md-column:not(.md-checkbox-column) {
        flex: 1 0 0;
        align-self: center;
      }
    }
  }

  .md-body {
    .md-row {
      position: relative;
      width: 100%;
      display: flex;

      > *:not(.md-checkbox-cell) {
        pointer-events: none;
      }

      &:first-child {
        // margin-top: 56px;
      }

      &:not(:first-child) {
        border-top: 1px rgba(0, 0, 0, 0.12) solid;
      }

      .md-cell {
        border: none;
      }

      .md-checkbox-cell {
        flex: 0 0 0;
        align-self: center;
      }

      .md-cell:not(.md-checkbox-cell) {
        flex: 1 0 0;
        align-self: center;
      }
    }
  }

  [flex] {
    max-width: none !important;
  }

  [flex="20"] {
    flex-basis: 20% !important;
  }
}
