.mdi {
  font-size: 24px;
}

.md-datepicker-calendar-pane {
  width: 340px;
}

md-input-container > md-select {
  margin-bottom: 16px;
}

.md-autocomplete-suggestions-container {
  min-width: 340px !important;
}

.md-autocomplete-suggestions {
  .md-caption {
    height: 22px;
    line-height: 28px;
    font-style: italic;
  }
}

md-chip [ace-sortable] * {
  pointer-events: none;
}

.md-table {
  .md-head {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 6px 10px rgba(0, 0, 0, 0.05);
  }
  .md-column {
    font-weight: 500 !important;
  }
  .md-row:first-child {
    .md-cell {
      border: none;
    }
  }
}
