md-toolbar
  .md-toolbar-tools
    md-button.md-icon-button.menu-toggle(hide-gt-md, ng-click="$root.toggleMainMenu()", aria-label="Toggle menu")
      md-icon(md-icon-set="material-icons") menu
    h2 Config
    span(flex)
    md-button(ng-click="vm.save()", ng-disabled="vm.form.$invalid") Save

md-content

  form(name="vm.form", role="form", novalidate)

    md-subheader.md-no-sticky
      md-toolbar.md-menu-toolbar.md-secondary
        .md-toolbar-tools
          h3 Client

    div(flex, layout="column", layout-margin)
      br

      md-input-container
        label Client Name
        input(ng-model="vm.config.client.name", aria-label="Client Name")

      md-input-container
        label Website URL
        input(ng-model="vm.config.client.baseUrl", aria-label="Website URL")

    md-subheader.md-no-sticky
      md-toolbar.md-menu-toolbar.md-secondary
        .md-toolbar-tools
          h3 Assets

    div(flex, layout="column", layout-margin)
      br

      md-input-container
        label Slug
        input(ng-model="vm.config.assets.slug", aria-label="Assets Slug")

    md-subheader.md-no-sticky
      md-toolbar.md-menu-toolbar.md-secondary
        .md-toolbar-tools
          h3 Modules

    div(flex, layout="column", layout-margin)

      md-input-container
        md-checkbox(ng-model="vm.config.moduleEnabled.ecommerce", aria-label="E-commerce module") E-commerce module

    md-subheader.md-no-sticky
      md-toolbar.md-menu-toolbar.md-secondary
        .md-toolbar-tools
          h3 Shopify

    div(flex, layout="column", layout-margin)
      br

      md-input-container
        label Storefront Access Token
        input(ng-model="vm.config.provider.shopify.storefrontAccessToken", aria-label="Storefront Access Token")
