field-select {

  md-input-container {
    padding-bottom: 0 !important;
    margin: 0;
  }

  .md-input-has-value {
    label {
      display: none;
    }
    input {
      pointer-events: none;
    }
  }

}
