md-dialog(aria-label="Field Settings")
  form(name="vm.form" role="form" novalidate ng-cloak)
    md-toolbar
      .md-toolbar-tools
        h2 Field Settings
        span(flex)
        md-button.md-icon-button(ng-click="vm.cancel()")
          md-icon(md-font-set="material-icons") close
    md-dialog-content
      .md-dialog-content

        md-chips(ng-model="vm.settings.options", placeholder="Options", secondary-placeholder="+Option")
          md-chip-template
            span(ace-sortable, index="$root.$helper.getMdChipIndex", collection="$root.$helper.getMdChipCollection", draggable-selector="'md-chip'") {{$chip}}
        br

        md-input-container.md-block
          md-checkbox(ng-model="vm.settings.multiple", aria-label="Multiple?") Multiple

    md-dialog-actions(layout="row")
      span(flex)
      md-button(ng-click="vm.cancel()") Close
      md-button.md-accent(ng-click="vm.ok(vm.settings)" ng-disabled="vm.form.$invalid") Save
