md-dialog(aria-label="Field Settings")
  form(name="vm.form" role="form" novalidate ng-cloak)
    md-toolbar
      .md-toolbar-tools
        h2 Field Settings
        span(flex)
        md-button.md-icon-button(ng-click="vm.cancel()")
          md-icon(md-font-set="material-icons") close
    md-dialog-content
      .md-dialog-content

        md-toolbar.md-table-toolbar.md-primary
          .md-toolbar-tools Video Outputs
            span(flex)
            md-button(ng-click="vm.editOutput(null, vm.outputs, $event)") Add Output

        md-table-container(ng-show="vm.settings.videoOutputs.length")
          table(md-table)

            thead(md-head)
              tr(md-row)
                th(md-column) Name
                th(md-column) Slug
                th(md-column) Format
                th(md-column) Resolution
                th(md-column) Quality

            tbody(md-body)
              tr(md-row, ng-repeat="output in vm.settings.videoOutputs")
                td(md-cell) {{output.name}}
                td(md-cell) {{output.slug}}
                td(md-cell) {{output.format}}
                td(md-cell) {{output.maxWidth}}×{{output.maxHeight}}
                td(md-cell) {{output.quality}}
                td(md-cell)
                  md-button.md-icon-button(ng-click="vm.editOutput(output, vm.outputs, $event)")
                    md-icon(md-font-set="material-icons") edit
                  md-button.md-icon-button(ng-click="vm.deleteOutput(null, vm.outputs, $event)")
                    md-icon(md-font-set="material-icons") close

    md-dialog-actions(layout="row")
      span(flex)
      md-button(ng-click="vm.cancel()") Close
      md-button.md-accent(ng-click="vm.ok(vm.settings)" ng-disabled="vm.form.$invalid") Save
