field-video {
  position: relative;

  img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
  }

  td:last-child {
    position: relative;
    width: 100%;

    span {
      position: absolute;
      top: 0;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .dropzone {
    flex: 1 1 100%;
    cursor: copy;
    padding: 8px;
    border: 1px dotted lightgrey;
    color: grey;
  }
}
