file {
  display: flex;
  flex-direction: column;
  max-height: 100vh;

  [flex] {
    position: relative;
  }

  [ui-grid] {
    height: 100% !important;
  }

  md-radio-button {
    display: inline-block;
    margin: 0 16px 0 0;
    line-height: 20px;

    .md-label {
      vertical-align: top;
    }
  }
}
