<!doctype html>
html

  head

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

    meta(name="google" content="notranslate")
    meta(name="pinterest" content="nopin")

    meta(name="viewport" content="width=device-width, initial-scale=1")

    title= pageTitle

    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-teal.min.css")

    style.
      * {
        box-sizing: border-box;
      }

      body {
        background: #ededed;
      }

      a {
        color: currentColor;
      }

      .wrapper {
        position: absolute;
        padding: 20px 50px 50px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
      }

      .message {
        padding: 30px;
        margin: 0 auto 60px;
        max-width: 300px;
        border-radius: 2px;
      }

      .message.error {
        background-color: #F44336;
        color: white;
      }

      .message.success {
        background-color: #009688;
        color: white;
      }

  body
    .wrapper
      h3 Maintenance
      p Apologies, service currently unavailable due to essential maintenance.
      p Thanks for your patience.
