entity {
  display: flex;
  flex-direction: column;
  max-height: 100vh;

  md-content {
    overflow-x: hidden;
  }

  &[is-modal="true"] {
    max-height: none;

    .menu-toggle {
      display: none;
    }
  }

  .md-subheader-inner {
    padding: 0 !important;
  }

  md-checkbox {
    margin-bottom: 0;
  }

  section {
    min-height: 192px;
  }

  .disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
  }

  md-toolbar h2 *:not(:last-child):after {
    content: " > ";
  }
}
