span(ace-flow options="vm.flowOptions")
  md-subheader.md-no-sticky
    md-toolbar.md-menu-toolbar.md-secondary
      .md-toolbar-tools
        md-checkbox.md-primary.field-apply(ng-show="::vm.fieldApply !== undefined", ng-model="vm.fieldApply", aria-label="Apply to all?")
        h3(ng-class="{required: vm.fieldOptions.settings.required}") {{vm.fieldOptions.name}}
        span(flex)
        md-button.md-icon-button(aria-label="Upload", ace-flow-browse)
          md-icon(md-font-set="material-icons") file_upload
        md-button.md-icon-button(aria-label="Download", ng-click="vm.download($event)", ng-disabled="!vm.fieldModel.value")
          md-icon(md-font-set="material-icons") file_download

  div(flex, layout="row", layout-margin)

    //- div(flex, ng-show="vm.fieldOptions.entityMode === 'new'") Please save to enable uploading

    div(flex, ng-show="vm.uploading")
      div(ng-show="vm.uploading") Uploading {{ vm.progress || 0 }}%

    div(flex, ng-show="!vm.uploading && vm.fieldModel.value")
      table
        tr
          td Type
          td {{vm.fieldModel.value.original.mimeType}}
        tr
          td Filename
          td(title='{{vm.fieldModel.value.original.fileName}}') {{vm.fieldModel.value.original.fileName}}
        tr
          td Filesize
          td {{vm.fieldModel.value.original.fileSize | fileSize}}
