.modal-backdrop(ng-click="$modal.dismiss()")
.modal
  .modal-dialog
    .modal-content
      .modal-header

        md-toolbar
          .md-toolbar-tools
            h2 Output
            span(flex)
            md-button.md-icon-button(ng-click="$modal.dismiss()")
              md-icon(md-font-set="material-icons") close

      .modal-body(style="padding: 16px 0")

        form(name="vm.itemForm", role="form", novalidate)

          div(layout="column", layout-margin)

            md-input-container
              label Name
              input(ng-model="vm.output.name", required, ng-minlength="2", ng-maxlength="50", ng-pattern="/^(?!.*?(_src|\")).*$/i")

            md-input-container
              label Slug
              input(ng-model="vm.output.slug", required, disabled, ng-pattern="/^(?!.*?(_src|\")).*$/i")

            md-input-container
              label Format
              md-select(ng-model="vm.output.format")
                md-option(ng-repeat="option in vm.formatOptions", value="{{option.value}}") {{option.name}}

            md-input-container
              label Quality
              md-select(ng-model="vm.output.audioQuality")
                md-option(ng-repeat="option in vm.qualityOptions", value="{{option.value}}") {{option.value}}: {{option.name}}

            md-input-container
              md-checkbox(ng-model="vm.output.audioPreNormalize") Pre-normalize

            md-input-container
              label Compression Ratio
              input(type="number", ng-model="vm.output.audioCompressionRatio", min="0", max="30")

      .modal-footer(layout="row")

        span(flex)
        md-button.md-accent(ng-click="$modal.close(vm.output)", ng-disabled="vm.itemForm.$invalid") Save
        md-button.md-warn(ng-click="$modal.dismiss()") Cancel
