field {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;

  > * {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
  }

  .field-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
  }

  md-toolbar h3.required:after {
    content: "*";
    vertical-align: super;
    font-size: 60%;
  }

}
