.modal-backdrop(ng-click="$modal.dismiss()")
.modal
  .modal-dialog
    .modal-content
      // .modal-header
      //   md-toolbar
      //     .md-toolbar-tools
      //       h2 Entity
      //       span(flex)
      //       md-button.md-icon-button(ng-click="$modal.dismiss()")
      //         md-icon(md-font-set="material-icons") close

      .modal-body

        entity-grid(mode="modal", schema="vm.schemaSlug", selected="vm.selected")

      .modal-footer(layout="row")

        span(flex)
        md-button.md-accent(ng-click="$modal.close(vm.selected)") Select
        md-button.md-default(ng-click="$modal.dismiss()") Close
