md-dialog(aria-label="Select Entity")

  md-dialog-content

    entity-grid(
      mode="modal"
      schema="vm.schemaSlug"
      selected="vm.selected"
    )

  md-dialog-actions(layout="row")
    span(flex)
    md-button(ng-click="vm.cancel()") Close
    md-button.md-accent(ng-click="vm.ok(vm.selected)") Select
