md-subheader
  md-toolbar.md-menu-toolbar.md-secondary
    .md-toolbar-tools
      md-checkbox.md-primary.field-apply(ng-show="::vm.fieldApply !== undefined", ng-model="vm.fieldApply", aria-label="Apply to all?")
      h3(ng-class="{required: vm.fieldOptions.settings.required}") {{vm.fieldOptions.name}}
      span(flex)

      md-button(aria-label="Insert entity", ng-show="::vm.schemas.length === 1", ng-click="vm.insertEntity(vm.schemas[0].slug)") Insert

      md-menu(ng-show="::vm.schemas.length > 1")
        md-button(aria-label="Insert entity", ng-click="$mdMenu.open()") Insert
        md-menu-content(width="4")
          md-menu-item(ng-repeat="schema in vm.schemas")
            md-button(ng-click="vm.insertEntity(schema.slug)")
              // md-icon(md-font-set="material-icons") dashboard
              span {{ schema.name }}

      //- md-button(aria-label="Remove selected", ng-disabled="vm.selected.length < 1", ng-click="vm.removeSelected()") Remove

      md-button(aria-label="New entity", ng-show="::vm.schemas.length === 1", ng-click="vm.newEntity(vm.schemas[0].slug)") Create New

      md-menu(ng-show="::vm.schemas.length > 1")
        md-button(aria-label="New entity", ng-click="$mdMenu.open()") Create New
        md-menu-content(width="4")
          md-menu-item(ng-repeat="schema in vm.schemas")
            md-button(ng-click="vm.newEntity(schema.slug)")
              // md-icon(md-font-set="material-icons") dashboard
              span {{ schema.name }}


div(ui-grid="vm.getGrid()", ui-grid-draggable-rows)
