md-toolbar
  .md-toolbar-tools
    md-button.md-icon-button.menu-toggle(hide-gt-md, ng-click="$root.toggleMainMenu()", aria-label="Toggle menu")
      md-icon(md-icon-set="material-icons") menu
    h3 Dashboard

md-content

  div(layout="row", layout-padding, layout-wrap)

    div(flex="100")
      md-card
        md-card-title
          md-card-title-text
            h4.md-headline Hi {{vm.user.firstName}}, welcome back.

    div(flex="60")
      md-card
        md-card-title
          md-card-title-text
            h4.md-headline Sessions
        md-card-content
          .chart.chart--sessions
            .chart__wrapper
              ace-c3(options="vm.sessionsChart")

    div(flex="40")
      md-card
        md-card-title
          md-card-title-text
            h4.md-headline Top Referrals
        md-card-content

          md-table-container
            table(md-table)

              thead(md-head)
                tr(md-row)
                  th(md-column) Source
                  th(md-column) Sessions

              tbody(md-body)
                tr(md-row, ng-repeat="referral in vm.referrals")
                  td(md-cell)
                    a(href='http://{{referral.fullReferrer}}', target='_blank') {{referral.source}}
                  td(md-cell) {{referral.sessions}}
