md-toolbar
  .md-toolbar-tools
    md-button.md-icon-button.menu-toggle(hide-gt-md, ng-click="$root.toggleMainMenu()", aria-label="Toggle menu")
      md-icon(md-icon-set="material-icons") menu
    h2 Settings
    span(flex)
    md-button(ng-click="vm.save()", ng-disabled="vm.form.$invalid") Save

md-content

  form(name="vm.form", role="form", novalidate)

    md-subheader.md-no-sticky
      md-toolbar.md-menu-toolbar.md-secondary
        .md-toolbar-tools
          h3 General

    div(flex, layout="column", layout-margin)
      br

      md-input-container(ng-if="::$root.$isSuperUser")
        label Client Name
        input(ng-model="vm.config.client.name", aria-label="Client Name")

      md-input-container(ng-if="::$root.$isSuperUser")
        label Website URL
        input(ng-model="vm.config.client.baseUrl", aria-label="Website URL")

      md-input-container(ng-if="::$root.$isSuperUser")
        label Google Analytics View ID
        input(ng-model="vm.config.client.gaView", aria-label="Google Analytics View ID")

      md-input-container
        label Metadata Description
        textarea(ng-model="vm.config.client.metadata.description")

    span(ng-if="::$root.$isSuperUser")

      md-subheader.md-no-sticky
        md-toolbar.md-menu-toolbar.md-secondary
          .md-toolbar-tools
            h3 Assets

      div(flex, layout="column", layout-margin)
        br

        md-input-container
          label Slug
          input(ng-model="vm.config.assets.slug", aria-label="Assets Slug")

      md-subheader.md-no-sticky
        md-toolbar.md-menu-toolbar.md-secondary
          .md-toolbar-tools
            h3 Modules / Providers

      div(flex, layout="column", layout-margin)

        md-input-container
          md-checkbox(ng-model="vm.config.moduleEnabled.ecommerce", aria-label="E-commerce module") E-commerce module

        md-input-container
          md-checkbox(ng-model="vm.config.providerEnabled.instagram", aria-label="Instagram") Instagram provider

        md-input-container
          md-checkbox(ng-model="vm.config.providerEnabled.vimeo", aria-label="Vimeo") Vimeo provider

        md-input-container
          md-checkbox(ng-model="vm.config.providerEnabled.createsend", aria-label="CreateSend") CreateSend provider

    span(ng-show="vm.config.providerEnabled.instagram")

      md-subheader.md-no-sticky
        md-toolbar.md-menu-toolbar.md-secondary
          .md-toolbar-tools
            h3 Instagram
            span(flex)
            md-button(ng-click="vm.authenticateWithProvider('instagram')") {{ vm.config.provider.instagram.access_token ? 'Reconnect' : 'Connect' }}
            span(ng-show="vm.config.provider.instagram")
              md-button(ng-click="vm.config.provider.instagram = null") Disconnect

      div(flex, layout="row", layout-margin)

        .md-subhead(ng-show="!vm.config.provider.instagram") Connect your Instagram account

        md-list-item(ng-show="vm.config.provider.instagram")
          img.md-avatar(ng-src="{{vm.config.provider.instagram.user.profile_picture}}")
          .md-list-item-text
            a(href="https://instagram.com/{{vm.config.provider.instagram.user.username}}", target="_blank") @{{vm.config.provider.instagram.user.username}}

    span(ng-show="vm.config.providerEnabled.vimeo")

      md-subheader.md-no-sticky
        md-toolbar.md-menu-toolbar.md-secondary
          .md-toolbar-tools
            h3 Vimeo
            span(flex)
            md-button(ng-click="vm.authenticateWithProvider('vimeo')") {{ vm.config.provider.vimeo ? 'Reconnect' : 'Connect' }}
            span(ng-show="vm.config.provider.vimeo")
              md-button(ng-click="vm.config.provider.vimeo = null") Disconnect

      div(flex, layout="row", layout-margin)

        .md-subhead(ng-show="!vm.config.provider.vimeo") Connect your Vimeo account

        md-list-item(ng-show="vm.config.provider.vimeo")
          img.md-avatar(ng-src="{{vm.config.provider.vimeo.user.pictures[3].link}}")
          .md-list-item-text
            a(href="{{vm.config.provider.vimeo.user.link}}", target="_blank") {{vm.config.provider.vimeo.user.name}}

    span(ng-show="$root.$isSuperUser && vm.config.providerEnabled.createsend")

      md-subheader.md-no-sticky
        md-toolbar.md-menu-toolbar.md-secondary
          .md-toolbar-tools
            h3 CreateSend

      div(flex, layout="column", layout-margin)

        br

        md-input-container
          label Client ID
          input(ng-model="vm.config.provider.createsend.clientId", aria-label="CreateSend Client ID")

        md-input-container
          label Client API Key
          input(ng-model="vm.config.provider.createsend.clientApiKey", aria-label="CreateSend Client API Key")
