md-toolbar
  .md-toolbar-tools
    md-button.md-icon-button.menu-toggle(hide-gt-md, ng-click="$root.toggleMainMenu()", aria-label="Toggle menu")
      md-icon(md-icon-set="material-icons") menu
    h2 Settings
    span(flex)
    md-button(ng-click="vm.save()", ng-disabled="vm.form.$invalid") Save

md-content

  form(name="vm.form", role="form", novalidate)

    md-subheader.md-no-sticky
      md-toolbar.md-menu-toolbar.md-secondary
        .md-toolbar-tools
          h3 General

    div(flex, layout="column", layout-margin)
      br

      md-input-container
        label Metadata Description
        textarea(ng-model="vm.config.client.metadata.description")

    md-subheader.md-no-sticky
      md-toolbar.md-menu-toolbar.md-secondary
        .md-toolbar-tools
          h3 Google
          span(flex)
          md-button(ng-click="vm.authenticateWithProvider('google')") {{ vm.config.provider.google.access_token ? 'Reconnect' : 'Connect' }}
          //- span(ng-show="vm.config.provider.google.access_token")
          //-   md-button(ng-click="vm.config.provider.google.access_token = null") Disconnect

    div(flex, layout="row", layout-margin)

      .md-subhead(ng-show="!vm.config.provider.google.access_token") Connect your Google account

      md-list-item(ng-show="vm.config.provider.google.access_token")
        img.md-avatar(ng-src="{{vm.config.provider.google.user.image.url}}")
        .md-list-item-text
          a(href="{{vm.config.provider.google.user.url}}", target="_blank") {{vm.config.provider.google.user.displayName}}

    div(ng-show="vm.config.provider.google.access_token", flex, layout="row", layout-margin)

      md-input-container.md-block
        label Analytics View
        md-select(ng-model="vm.config.client.gaView")
          md-option(ng-repeat="view in vm.gaViews" value="{{view.id}}") {{view.websiteUrl}} ({{view.name}})

    span(ng-show="vm.config.providerEnabled.instagram")

      md-subheader.md-no-sticky
        md-toolbar.md-menu-toolbar.md-secondary
          .md-toolbar-tools
            h3 Instagram
            span(flex)
            md-button(ng-click="vm.authenticateWithProvider('instagram')") {{ vm.config.provider.instagram.access_token ? 'Reconnect' : 'Connect' }}
            //- span(ng-show="vm.config.provider.instagram.access_token")
            //-   md-button(ng-click="vm.config.provider.instagram.access_token = null") Disconnect

      div(flex, layout="row", layout-margin)

        .md-subhead(ng-show="!vm.config.provider.instagram.access_token") Connect your Instagram account

        md-list-item(ng-show="vm.config.provider.instagram.access_token")
          img.md-avatar(ng-src="{{vm.config.provider.instagram.user.profile_picture}}")
          .md-list-item-text
            a(href="https://instagram.com/{{vm.config.provider.instagram.user.username}}", target="_blank") @{{vm.config.provider.instagram.user.username}}

    span(ng-show="vm.config.providerEnabled.vimeo")

      md-subheader.md-no-sticky
        md-toolbar.md-menu-toolbar.md-secondary
          .md-toolbar-tools
            h3 Vimeo
            span(flex)
            md-button(ng-click="vm.authenticateWithProvider('vimeo')") {{ vm.config.provider.vimeo ? 'Reconnect' : 'Connect' }}
            //- span(ng-show="vm.config.provider.vimeo.access_token")
            //-   md-button(ng-click="vm.config.provider.vimeo.access_token = null") Disconnect

      div(flex, layout="row", layout-margin)

        .md-subhead(ng-show="!vm.config.provider.vimeo.access_token") Connect your Vimeo account

        md-list-item(ng-show="vm.config.provider.vimeo.access_token")
          img.md-avatar(ng-src="{{vm.config.provider.vimeo.user.pictures[3].link}}")
          .md-list-item-text
            a(href="{{vm.config.provider.vimeo.user.link}}", target="_blank") {{vm.config.provider.vimeo.user.name}}
