md-toolbar
  .md-toolbar-tools
    md-button.md-icon-button.menu-toggle(hide-gt-md, ng-click="$root.toggleMainMenu()", aria-label="Toggle menu")
      md-icon(md-icon-set="material-icons") menu
    h2 Settings
    span(flex)
    md-button(ng-click="vm.save()", ng-disabled="vm.form.$invalid") Save

md-content

  form(name="vm.form", role="form", novalidate)

    // Settings

    span(ng-if="$root.$permissions.settings")

      div(flex, layout="column", layout-margin)
        br
        md-input-container
          label Metadata Description
          textarea(ng-model="vm.config.client.metadata.description")

      md-subheader.md-no-sticky Google Analytics
      div(flex, layout="row", layout-margin)
        md-button(ng-show="!vm.config.provider.google.access_token" ng-click="vm.authProvider('google')") Connect Google Account
        md-input-container.md-block(ng-show="vm.config.provider.google.access_token")
          label Analytics View
          md-select(ng-model="vm.config.client.gaView")
            md-option(ng-repeat="view in vm.gaViews" value="{{view.id}}") {{view.websiteUrl}} ({{view.name}})

      md-subheader.md-no-sticky Connected Accounts

      md-list-item.md-2-line(ng-show="vm.config.provider.google.access_token")
        a(href="{{vm.config.provider.google.user.url}}", target="_blank")
          img.md-avatar(ng-src="{{vm.config.provider.google.user.image.url}}")
        .md-list-item-text
          h3 Google
          p {{vm.config.provider.google.user.displayName}}
        md-button(href="https://myaccount.google.com/permissions" target="_blank") Revoke Access

      md-list-item.md-2-line(ng-show="vm.config.provider.instagram.access_token")
        a(href="https://instagram.com/{{vm.config.provider.instagram.user.username}}", target="_blank")
          img.md-avatar(ng-src="{{vm.config.provider.instagram.user.profile_picture}}")
        .md-list-item-text
          h3 Instagram
          p @{{vm.config.provider.instagram.user.username}}

      md-list-item.md-2-line(ng-show="vm.config.provider.vimeo.access_token")
        a(href="{{vm.config.provider.vimeo.user.link}}", target="_blank")
          img.md-avatar(ng-src="{{vm.config.provider.vimeo.user.pictures[3].link}}")
        .md-list-item-text
          h3 Vimeo
          p {{vm.config.provider.vimeo.user.name}}

      div(flex layout="row" layout-margin)
        span(flex)
        md-fab-speed-dial.md-fling(md-direction="left" md-open="false")
          md-fab-trigger
            md-button.md-fab.md-primary.md-mini(aria-label="Add Provider")
              md-icon(md-font-set="material-icons") add
          md-fab-actions
            md-button.md-fab.md-raised.md-mini(aria-label="Vimeo" ng-click="vm.authProvider('vimeo')")
              md-icon(md-font-set="mdi" md-font-icon="mdi-vimeo")
            md-button.md-fab.md-raised.md-mini(aria-label="Instagram" ng-click="vm.authProvider('instagram')")
              md-icon(md-font-set="mdi" md-font-icon="mdi-instagram")
            md-button.md-fab.md-raised.md-mini(aria-label="Google" ng-click="vm.authProvider('google')")
              md-icon(md-font-set="mdi" md-font-icon="mdi-google")

    // User Settings

    md-subheader.md-no-sticky
      md-toolbar.md-menu-toolbar.md-secondary
        .md-toolbar-tools
          h3 User Settings

    md-subheader.md-no-sticky Connected Accounts

    md-list-item.md-2-line(ng-show="vm.config.userSettings[vm.user.id].provider.google.access_token")
      a(href="{{vm.config.userSettings[vm.user.id].provider.google.user.url}}", target="_blank")
        img.md-avatar(ng-src="{{vm.config.userSettings[vm.user.id].provider.google.user.image.url}}")
      .md-list-item-text
        h3 Google
        p {{vm.config.userSettings[vm.user.id].provider.google.user.displayName}}
      md-button(href="https://myaccount.google.com/permissions" target="_blank") Revoke Access

    md-list-item.md-2-line(ng-show="vm.config.userSettings[vm.user.id].provider.instagram.access_token")
      a(href="https://instagram.com/{{vm.config.userSettings[vm.user.id].provider.instagram.user.username}}", target="_blank")
        img.md-avatar(ng-src="{{vm.config.userSettings[vm.user.id].provider.instagram.user.profile_picture}}")
      .md-list-item-text
        h3 Instagram
        p @{{vm.config.userSettings[vm.user.id].provider.instagram.user.username}}

    md-list-item.md-2-line(ng-show="vm.config.userSettings[vm.user.id].provider.vimeo.access_token")
      a(href="{{vm.config.userSettings[vm.user.id].provider.vimeo.user.link}}", target="_blank")
        img.md-avatar(ng-src="{{vm.config.userSettings[vm.user.id].provider.vimeo.user.pictures[3].link}}")
      .md-list-item-text
        h3 Vimeo
        p {{vm.config.userSettings[vm.user.id].provider.vimeo.user.name}}

    div(flex layout="row" layout-margin)
      span(flex)
      md-fab-speed-dial.md-fling(md-direction="left" md-open="false")
        md-fab-trigger
          md-button.md-fab.md-primary.md-mini(aria-label="Add Provider")
            md-icon(md-font-set="material-icons") add
        md-fab-actions
          md-button.md-fab.md-raised.md-mini(aria-label="Vimeo" ng-click="vm.authProvider('vimeo', true)")
            md-icon(md-font-set="mdi" md-font-icon="mdi-vimeo")
          md-button.md-fab.md-raised.md-mini(aria-label="Instagram" ng-click="vm.authProvider('instagram', true)")
            md-icon(md-font-set="mdi" md-font-icon="mdi-instagram")
          md-button.md-fab.md-raised.md-mini(aria-label="Google" ng-click="vm.authProvider('google', true)")
            md-icon(md-font-set="mdi" md-font-icon="mdi-google")
