md-toolbar
  .md-toolbar-tools
    md-button.md-icon-button.menu-toggle(hide-gt-md, ng-click="$root.toggleMainMenu()", aria-label="Toggle menu")
      md-icon(md-icon-set="material-icons") menu
    h2 Schemas
    span(flex)
    //- md-button.md-icon-button(ng-click="vm.delete($event, vm.selected)", ng-disabled="vm.selected.length < 1", aria-label="Delete")
    //-   md-icon(md-font-set="material-icons") delete
    //- md-button.md-icon-button(ng-click="vm.edit($event, vm.selected[0])", ng-disabled="vm.selected.length !== 1", aria-label="Edit")
    //-   md-icon(md-font-set="material-icons") create
    md-button.md-fab.md-mini(ng-click="vm.new($event)", aria-label="New")
      md-icon(md-font-set="material-icons") add

md-content

  md-table-container
    table.md-table-expanded(md-table md-row-select multiple ng-model="vm.selected")

      thead(md-head md-order="vm.order" md-on-reorder="vm.changeOrder")
        tr(md-row)
          th(md-column md-order-by="name") Name
          th(md-column md-order-by="slug") Slug

      tbody(md-body)
        tr(
          md-row
          md-select="schema"
          md-select-id="slug"
          ng-click="vm.edit($event, schema)"
          ng-repeat="schema in vm.schemas"
          ace-sortable collection="vm.schemas" index="$index" axis="'y'"
        )
          td(md-cell) {{schema.name}}
          td(md-cell) {{schema.slug}}
