.modal-backdrop(ng-click="$modal.dismiss()")
.modal
  .modal-dialog
    .modal-content
      .modal-header

        md-toolbar
          .md-toolbar-tools
            h2 Schema
            span(flex)
            md-button.md-icon-button(ng-click="$modal.dismiss()")
              md-icon(md-font-set="material-icons") close

      .modal-body(style="padding: 16px 0")

        form(name="vm.itemForm", role="form", novalidate)

          div(layout="column", layout-margin)

            md-input-container
              label Name
              input(ng-model="vm.item.name", required, ng-minlength="2", ng-maxlength="50", ng-pattern="/^[^\"]*$/")

            md-input-container
              label Slug
              input(ng-model="vm.item.slug", required, ng-disabled="vm.mode === 'edit'", ng-minlength="2", ng-maxlength="50", ng-pattern="vm.keyPattern")

            div(layout="row")
              md-chips(flex, ng-model="vm.item.fields", ng-init="vm.item.fields = vm.item.fields || []", md-autocomplete-snap, md-require-match="true")
                md-autocomplete(md-selected-item="vm.selectedField", md-search-text="vm.searchField", md-items="item in $admin.get('field', true)", md-item-text="item.name", placeholder="Fields(s)", md-min-length="0")
                  span(md-highlight-text="vm.searchField") {{item.name}}
                md-chip-template
                  span(ace-sortable, index="$root.$helper.getMdChipIndex", collection="$root.$helper.getMdChipCollection", draggable-selector="'md-chip'") {{$chip.name}}&nbsp;
                    code {{$chip.slug}}

              md-button.md-icon-button(aria-label="New field", ng-click="vm.newItem('field', vm.item.fields)")
                md-icon(md-font-set="material-icons") add

            br

            div(layout="row")
              md-chips(flex, ng-model="vm.item.actions", ng-init="vm.item.actions = vm.item.actions || []", md-autocomplete-snap, md-require-match="true")
                md-autocomplete(md-selected-item="vm.selectedAction", md-search-text="vm.searchAction", md-items="item in $admin.get('action', true)", md-item-text="item.name", placeholder="Actions(s)", md-min-length="0")
                  span(md-highlight-text="vm.searchAction") {{item.name}}
                md-chip-template
                  span(ace-sortable, index="$root.$helper.getMdChipIndex", collection="$root.$helper.getMdChipCollection", draggable-selector="'md-chip'") {{$chip.name}}

              md-button.md-icon-button(aria-label="New action", ng-click="vm.newItem('action', vm.item.actions)")
                md-icon(md-font-set="material-icons") add

            br

            md-input-container
              label Notes
              textarea(ng-model="vm.item.notes")

            md-input-container
              md-checkbox(ng-model='vm.item.singular', aria-label='Singular?') Singular

            md-input-container
              md-checkbox(ng-model='vm.item.hidden', aria-label='Hidden?') Hidden

            br

            md-input-container
              label(ng-non-bindable) Title Template {{handlebars}}
              input(ng-model='vm.item.titleTemplate', aria-label="Title template")

            md-input-container
              label(ng-non-bindable) Slug Template {{handlebars}}
              input(ng-model='vm.item.slugTemplate', aria-label="Slug template")

            md-input-container
              label Thumbnail Field
              md-select(ng-model="vm.item.thumbnailField")
                md-option(ng-repeat="field in vm.item.fields | thumbnailFields", ng-value="field.slug") {{field.name}}

            div(layout="row")
              md-chips(flex, ng-model="vm.item.sortFields", ng-init="vm.item.sortFields = vm.item.sortFields || []", md-autocomplete-snap, md-require-match="true")
                md-autocomplete(md-selected-item="vm.selectedSortField", md-search-text="vm.searchSortField", md-items="item in vm.item.fields", md-item-text="item.name", placeholder="Sort Fields(s)", md-min-length="0")
                  span(md-highlight-text="vm.searchSortField") {{item.name}}
                md-chip-template
                  span(ace-sortable, index="$root.$helper.getMdChipIndex", collection="$root.$helper.getMdChipCollection", draggable-selector="'md-chip'") {{$chip.name}}

            br

      .modal-footer(layout="row")

        span(flex)
        md-button.md-accent(ng-click="vm.save()", ng-disabled="vm.itemForm.$invalid") Save
        md-button.md-warn(ng-click="$modal.dismiss()") Cancel
