.field-wrapper(ace-flow, options="vm.flowOptions")

  md-subheader.md-no-sticky
    md-toolbar.md-menu-toolbar.md-secondary
      .md-toolbar-tools
        md-checkbox.md-primary.field-apply(ng-show="::vm.fieldApply !== undefined", ng-model="vm.fieldApply", aria-label="Apply to all?")
        h3(ng-class="{required: vm.fieldOptions.settings.required}") {{vm.fieldOptions.name}}
        span(flex)
        md-button.md-icon-button(aria-label="Upload", ace-flow-browse, ng-show="!vm.fieldModel.value")
          md-icon(md-font-set="material-icons") file_upload
        md-button.md-icon-button(aria-label="Download", ng-click="vm.download($event)", ng-show="vm.fieldModel.value")
          md-icon(md-font-set="material-icons") file_download
        md-button.md-icon-button(aria-label="File URL", ng-click="vm.fileUrl($event)", ng-show="vm.fieldModel.value")
          md-icon(md-font-set="mdi", md-font-icon="mdi-link-variant")
        md-button.md-icon-button(aria-label="Delete", ng-click="vm.delete($event)", ng-show="vm.fieldModel.value && vm.fieldModel.value.file.name === vm.originalValue.file.name")
          md-icon(md-font-set="material-icons") delete

  div(flex="grow", layout="row", layout-margin)

    //- div(flex, ng-show="vm.fieldOptions.entityMode === 'new'") Please save to enable uploading

    div.dropzone(flex, layout="row", layout-align="center center", ng-show="!vm.uploading && !vm.fieldModel.value", ace-flow-drop, ace-flow-browse)
      span Drop file(s) here

    div(flex, layout="row", layout-align="center center", ng-show="vm.uploading")
      span Uploading {{ vm.progress || 0 }}%

    div(flex, layout="row", layout-margin, ng-show="!vm.uploading && vm.fieldModel.value")
      div(flex)
        table
          tr
            td Filename
            td(title='{{vm.fieldModel.value.original.fileName}}') {{vm.fieldModel.value.original.fileName}}
          tr
            td Type
            td {{vm.fieldModel.value.original.mimeType}}
          tr
            td Filesize
            td {{vm.fieldModel.value.file.size | fileSize}}
