.modal-backdrop(ng-click="$modal.dismiss()")
.modal
  .modal-dialog
    .modal-content
      .modal-header

        md-toolbar
          .md-toolbar-tools
            h2 Crop
            span(flex)
            md-button.md-icon-button(ng-click="$modal.dismiss()")
              md-icon(md-font-set="material-icons") close

      .modal-body(style="padding: 16px 0")

        form(name="vm.itemForm", role="form", novalidate)

          div(layout="column", layout-margin)

            md-input-container
              label Name
              input(ng-model="vm.crop.name", required, ng-minlength="2", ng-maxlength="50", ng-pattern="/^[^\"]*$/")

            md-input-container
              label Slug
              input(ng-model="vm.crop.slug", required, disabled)

            md-input-container
              label Ratio
              input(type="number", ng-model="vm.crop.ratio", min='0', max='99')

            md-input-container
              label Minimum Width
              input(type="number", ng-model="vm.crop.minWidth", min='0')

            md-input-container
              label Minimum Height
              input(type="number", ng-model="vm.crop.minHeight", min='0')

            md-input-container
              label Gravity
              md-select(ng-model="vm.crop.gravity")
                md-option(ng-repeat="option in vm.gravityOptions", value="{{option.value}}") {{option.name}}

      .modal-footer(layout="row")

        span(flex)
        md-button.md-accent(ng-click="$modal.close(vm.crop)", ng-disabled="vm.itemForm.$invalid") Save
        md-button.md-warn(ng-click="$modal.dismiss()") Cancel
