.modal-backdrop(ng-click="$modal.dismiss()")
.modal
  .modal-dialog
    .modal-content
      .modal-header

        md-toolbar
          .md-toolbar-tools
            h2 Action
            span(flex)
            md-button.md-icon-button(ng-click="$modal.dismiss()")
              md-icon(md-font-set="material-icons") close

      .modal-body(style="padding: 16px 0")

        form(name="vm.itemForm", role="form", novalidate)

          div(layout="column", layout-margin)

            md-input-container
              label Name
              input(ng-model="vm.item.name", required, ng-minlength="2", ng-maxlength="50", ng-pattern="/^[^\"]*$/")

            md-input-container
              label Slug
              input(ng-model="vm.item.slug", required, ng-disabled="vm.mode === 'edit'", ng-minlength="2", ng-maxlength="50", ng-pattern="vm.keyPattern")

            md-input-container
              label Type
              md-select(ng-model="vm.item.type")
                md-option(ng-repeat="(type, actionOpts) in $action.actions()", value="{{type}}") {{actionOpts.name}}

          div(layout="column", ace-bind-html="vm.actionSettingsTemplate")

      .modal-footer(layout="row")

        span(flex)
        md-button.md-accent(ng-click="vm.save()", ng-disabled="vm.itemForm.$invalid") Save
        md-button.md-warn(ng-click="$modal.dismiss()") Cancel
