div(layout="column", style="position: absolute; width: 100%; height: 100%")

  md-toolbar
    .md-toolbar-tools
      md-button.md-icon-button.menu-toggle(hide-gt-md, ng-click="$root.toggleMainMenu()", aria-label="Toggle menu")
        md-icon(md-icon-set="material-icons") menu
      h3 Discounts
      span(flex)
      md-button(ng-click="vm.editDiscount()") New
      md-button.md-icon-button(ng-click="vm.editDiscount(vm.selected[0])", ng-disabled="vm.selected.length !== 1", aria-label="Edit")
        md-icon(md-font-set="material-icons") create
      md-button.md-icon-button(ng-click="vm.deleteDiscounts(vm.selected)", ng-disabled="vm.selected.length < 1", aria-label="Delete")
        md-icon(md-font-set="material-icons") delete
      md-button.md-fab.md-mini(aria-label="Search", ng-click="vm.showSearch = !vm.showSearch")
        md-icon(md-font-set="material-icons") search

  md-list(flex="nogrow", ng-show="vm.showSearch")
    md-list-item(layout="row")
      md-input-container(flex)
        input(type="text", placeholder="Search", ng-model="vm.searchTerm", ng-keypress="vm.search($event, vm.searchTerm)")

  div(flex)
    .ui-grid-wrapper
      div(ui-grid="vm.grid", ui-grid-selection, ui-grid-infinite-scroll, ng-class="{disabled: vm.searching}")

// TODO: show selected count in a toast (vm.selected.length)
