md-toolbar
  .md-toolbar-tools
    md-button.md-icon-button.menu-toggle(hide-gt-md, ng-click="$root.toggleMainMenu()", aria-label="Toggle menu")
      md-icon(md-icon-set="material-icons") menu
    h2 E-commerce Settings
    span(flex)
    md-button(ng-click="vm.save()", ng-disabled="vm.form.$invalid") Save

md-content

  form(name="vm.form", role="form", novalidate)

    md-subheader.md-no-sticky
      md-toolbar.md-menu-toolbar.md-secondary
        .md-toolbar-tools
          h3 General

    div(flex, layout="column", layout-margin)

      br

      md-input-container
        label Store Name
        input(ng-model="vm.config.module.ecommerce.storeName", aria-label="Store Name")

      md-input-container
        label Email Sender Name
        input(ng-model="vm.config.module.ecommerce.emailSenderName", aria-label="Email Sender Name")

      md-input-container
        label Email Sender Address
        input(ng-model="vm.config.module.ecommerce.emailSenderAddress", aria-label="Email Sender Address")

      md-input-container
        label Currency
        md-select(ng-model="vm.config.module.ecommerce.currency" ng-model-options="{trackBy: '$value.iso'}")
          md-option(ng-repeat="currency in vm.currencies", ng-value="currency") {{currency.iso}} ({{currency.symbol}})

      md-input-container(ng-if="::$root.$isSuperUser")
        md-checkbox(ng-model="vm.config.module.ecommerce.testMode", aria-label="Test mode?") Test Mode

    md-subheader.md-no-sticky
      md-toolbar.md-menu-toolbar.md-secondary
        .md-toolbar-tools
          h3 Stripe
          span(flex)
          md-button(ng-click="vm.authenticateWithProvider('stripe')") {{ vm.config.provider.stripe ? 'Reconnect' : 'Connect' }}
          span(ng-show="vm.config.provider.stripe")
            md-button(ng-click="vm.config.provider.stripe = null") Disconnect

    div(flex, layout="column", layout-margin)

      .md-subhead(ng-show="!vm.config.provider.stripe") Connect your Stripe account

      md-list-item(ng-show="vm.config.provider.stripe")
        img.md-avatar(gravatar-src="vm.config.provider.stripe.account.email", gravatar-size="100")
        .md-list-item-text
          a(href="https://dashboard.stripe.com", target="_blank") {{vm.config.provider.stripe.account.display_name}}

    span(ng-if="::$root.$isSuperUser")

      md-subheader.md-no-sticky
        md-toolbar.md-menu-toolbar.md-secondary
          .md-toolbar-tools
            h3 CreateSend

      div(flex, layout="column", layout-margin)

        br

        md-input-container
          label Checkout Subscriber List ID
          input(ng-model="vm.config.module.ecommerce.createsend.checkoutSubscriberListId", aria-label="CreateSend Checkout Subscriber List ID")
