.field-wrapper(ace-flow, options="vm.flowOptions")

  md-subheader.md-no-sticky
    md-toolbar.md-menu-toolbar.md-secondary
      .md-toolbar-tools
        md-checkbox.md-primary.field-apply(ng-show="::vm.fieldApply !== undefined", ng-model="vm.fieldApply", aria-label="Apply to all?")
        h3(ng-class="{required: vm.fieldOptions.settings.required}") {{vm.fieldOptions.name}}
        span(flex)
        md-button.md-icon-button(aria-label="Upload", ace-flow-browse)
          md-icon(md-font-set="material-icons") file_upload
        md-button.md-icon-button(aria-label="Preview", ng-click="vm.preview($event)", ng-disabled="!vm.fieldModel.value")
          md-icon(md-font-set="material-icons") zoom_in
        md-button.md-icon-button(aria-label="Download", ng-click="vm.download($event)", ng-disabled="!vm.fieldModel.value")
          md-icon(md-font-set="material-icons") file_download
        md-button.md-icon-button(ng-show="vm.fieldOptions.settings.crops", aria-label="Crop", ng-click="vm.crop($event)", ng-disabled="!vm.fieldModel.value")
          md-icon(md-font-set="material-icons") crop
        md-button.md-icon-button(ng-show="vm.fieldModel.value.dzi", aria-label="Deep Zoom", ng-click="vm.dzi($event)", ng-disabled="!vm.fieldModel.value")
          md-icon(md-font-set="material-icons") zoom_out_map

  div(flex="grow", layout="row", layout-margin)

    div.dropzone(flex, layout="row", layout-align="center center", ng-show="!vm.uploading && !vm.fieldModel.value", ace-flow-drop, ace-flow-browse)
      span Drop file(s) here

    div(flex, layout="row", layout-align="center center", ng-show="vm.uploading")
      span Uploading {{ vm.progress || 0 }}%

    div(flex, layout="row", layout-margin, ng-show="!vm.uploading && vm.fieldModel.value")
      div(flex)
        img(ng-src="{{vm.getThumbnail('h:500;q:60')}}")

      div(flex)
        table
          tr
            td Type
            td {{vm.fieldModel.value.original.mimeType}}
          tr
            td Dimensions
            td {{vm.fieldModel.value.metadata ? vm.fieldModel.value.metadata.width + '&times;' + vm.fieldModel.value.metadata.height : ''}}
          tr
            td Filename
            td(title='{{vm.fieldModel.value.original.fileName}}') {{vm.fieldModel.value.original.fileName}}
          tr
            td Filesize
            td {{vm.fieldModel.value.file.size | fileSize}}
          tr(ng-if="vm.fieldModel.value.dzi")
            td DZI
            td {{vm.fieldModel.value.dzi.fileSize | fileSize}}
