md-subheader.md-no-sticky.field-toolbar
  md-toolbar.md-menu-toolbar
    .md-toolbar-tools
      md-checkbox.md-primary.field-apply(ng-show="::vm.fieldApply !== undefined", ng-model="vm.fieldApply", aria-label="Apply to all?")
      h3(ng-class="{required: vm.fieldOptions.settings.required}") {{vm.fieldOptions.name}}
      span(flex)

      md-button(ng-show="::vm.schemas.length === 1", ng-click="vm.newEntity(vm.schemas[0].slug)", aria-label="New entity") New

      md-menu(ng-show="::vm.schemas.length > 1")
        md-button(aria-label="New entity", ng-click="$mdOpenMenu()") New
        md-menu-content(width="4")
          md-menu-item(ng-repeat="schema in vm.schemas")
            md-button(ng-click="vm.newEntity(schema.slug)")
              // md-icon(md-font-set="material-icons") dashboard
              span {{ schema.name }}

      md-button.md-icon-button(ng-show="::vm.schemas.length === 1", ng-click="vm.insertEntity(vm.schemas[0].slug)", aria-label="Insert entity")
        md-icon(md-font-set="material-icons") add

      md-menu(ng-show="::vm.schemas.length > 1")
        md-button.md-icon-button(aria-label="Insert entity", ng-click="$mdOpenMenu()")
          md-icon(md-font-set="material-icons") add
        md-menu-content(width="4")
          md-menu-item(ng-repeat="schema in vm.schemas")
            md-button(ng-click="vm.insertEntity(schema.slug)")
              // md-icon(md-font-set="material-icons") dashboard
              span {{ schema.name }}

div(flex, layout="row", layout-padding, layout-wrap)

  div.tile(flex, layout="column", ng-repeat="item in vm.fieldModel", ace-sortable, index-fn="vm.getIndex", collection-fn="vm.getCollection", handle-selector="'[ace-sortable-handle]'")

    md-card(flex, ng-click="vm.clickItem($event, item)", md-theme="{{item.$selected ? 'selected' : 'default'}}", md-theme-watch)

      .md-card-image(ng-show="$root.$entity.getEntityThumbnailUrl(item, 'w:500;q:60')", ng-style="{backgroundImage: 'url(' + $root.$entity.getEntityThumbnailUrl(item, 'w:500;q:60') + ')'}")

      md-card-content(flex)
        .md-caption(ng-repeat="sortField in vm.getSortFields(item.schema)", ng-bind-html="item.fields[sortField] | field2String : 20")

      md-card-actions(layout="row")
        md-card-icon-actions
          div(ace-sortable-handle)
            md-button.md-icon-button(md-no-ink, aria-label="Move")
              md-icon(md-font-set="mdi", md-font-icon="mdi-cursor-move", md-theme="{{item.$selected ? 'selected' : 'default'}}", md-theme-watch)
          md-button.md-icon-button(ng-click="vm.entityEdit($event, item)", aria-label="Edit")
            md-icon(md-font-set="material-icons", md-theme="{{item.$selected ? 'selected' : 'default'}}", md-theme-watch) create
          md-button.md-icon-button(ng-click="vm.preview($event, item)", aria-label="Preview")
            md-icon(md-font-set="material-icons", md-theme="{{item.$selected ? 'selected' : 'default'}}", md-theme-watch) zoom_in
          md-button.md-icon-button(ng-click="vm.entityRemove($event, item)", aria-label="Remove")
            md-icon(md-font-set="material-icons", md-theme="{{item.$selected ? 'selected' : 'default'}}", md-theme-watch) close

      .group.group--left(ng-show='vm.fieldOptions.settings.groupEnabled && !$first', ng-class="{active: item.groupBefore}")
        md-button.md-fab.md-mini.md-primary(ng-click="vm.toggleGroupBefore($event, item)", aria-label="Group", md-theme="{{item.groupBefore ? 'grouped' : 'ungrouped'}}", md-theme-watch, ng-disabled="item.$groupBeforeDisabled")
          md-icon(md-font-set="mdi", md-font-icon="mdi-arrow-left-drop-circle-outline")
      .group.group--right(ng-show='vm.fieldOptions.settings.groupEnabled && !$last', ng-class="{active: item.groupAfter}")
        md-button.md-fab.md-mini.md-primary(ng-click="vm.toggleGroupAfter($event, item)", aria-label="Group", md-theme="{{item.groupAfter ? 'grouped' : 'ungrouped'}}", md-theme-watch, ng-disabled="item.$groupAfterDisabled")
          md-icon(md-font-set="mdi", md-font-icon="mdi-arrow-right-drop-circle-outline")
