field-entity-tile {
  position: relative;

  .tile {
    flex-basis: 240px;
    max-width: 270px;

    @media (max-width: 600px) {
      flex-basis: 50%;
    }
  }

  md-card {
    position: relative;
    outline: 0;
  }

  md-card-content {
    overflow: hidden;
  }

  .md-card-image {
    position: relative;
    height: 150px;
    background: lightgrey;

    img, video {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }

  md-card-actions {
    align-self: center;
  }

  .md-selected-theme {
    color: white;
  }

  md-card .md-icon-button {
    margin: 0 !important;
  }

  .group {
    position: absolute;
    top: 55px;

    &:not(.active) {
      display: none;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  md-card:hover .group {
    display: block;
  }

  /* Firefox fix - drag handle cannot be a button */
  [ace-sortable-handle] {
    cursor: pointer;

    * {
      pointer-events: none;
    }
  }

}
