@font-face {
  // font-family: 'Roboto Light';
  font-family: 'Roboto';
  src: url('Roboto-Light.eot'); /* IE9 Compat Modes */
  src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Roboto-Light.woff') format('woff'), /* Modern Browsers */
       url('Roboto-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Roboto-Light.svg#14cfc794995ce651ee6fc06de48ff027') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  300;
}

@font-face {
  // font-family: 'Roboto Light';
  font-family: 'Roboto';
  src: url('Roboto-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('Roboto-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Roboto-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('Roboto-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Roboto-LightItalic.svg#efd8343d93408b9a4ac863f89d96cf30') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  300;
}

@font-face {
  // font-family: 'Roboto Medium';
  font-family: 'Roboto';
  src: url('Roboto-Medium.eot'); /* IE9 Compat Modes */
  src: url('Roboto-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Roboto-Medium.woff') format('woff'), /* Modern Browsers */
       url('Roboto-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Roboto-Medium.svg#9e4baab57ed09c2dd1f3a56f2a128453') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  500;
}

@font-face {
  // font-family: 'Roboto Medium';
  font-family: 'Roboto';
  src: url('Roboto-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Roboto-MediumItalic.woff') format('woff'), /* Modern Browsers */
       url('Roboto-MediumItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Roboto-MediumItalic.svg#bec3882b446b79f0ebc520a678b0e1ed') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  500;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular.eot'); /* IE9 Compat Modes */
  src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Roboto-Regular.woff') format('woff'), /* Modern Browsers */
       url('Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Roboto-Regular.svg#f4ba68a9596ca53347cecdb9c6e48d01') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Italic.eot'); /* IE9 Compat Modes */
  src: url('Roboto-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Roboto-Italic.woff') format('woff'), /* Modern Browsers */
       url('Roboto-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Roboto-Italic.svg#d3e7c44ac4f4e64fa2d05ac3d21ebf6e') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}
