md-toolbar(title="{{$root.slug}}")
  .md-toolbar-tools
    h3(title="{{$root.slug}}") {{$root.$config.client.name}}

md-content

  md-list

    md-list-item(ui-sref="dashboard", ui-sref-active="active")
      md-icon(md-font-set="material-icons") dashboard
      p Dashboard

    md-menu(md-offset="220 0", ng-show="$root.$config.schemas.length")
      md-list-item(ng-click="$mdMenu.open()", ng-class="{active: $root.$helper.testExp('new|entity|view', $root.$state.current.name)}")
        md-icon(md-font-set="material-icons") create
        p Content
      md-menu-content(width="4")
        md-menu-item(ng-repeat="schema in $root.$config.schemas" ng-if="!schema.settings.hidden")
          md-button(ng-if="schema.settings.singular" ui-sref="singularEntity({id: schema.slug})")
            // md-icon(md-font-set="material-icons") dashboard
            span {{ schema.name }}
          md-button(ng-if="!schema.settings.singular" ui-sref="entityGrid({schemaSlug: schema.slug})" aria-label="{{ schema.collectionName  || schema.name }}")
            // md-icon(md-font-set="material-icons") dashboard
            span(ng-if="schema.collectionName") {{ schema.collectionName }}
            span(ng-if="!schema.collectionName") {{ schema.name | pluralize }}

    md-menu(md-offset="220 0", ng-show="$root.$config.taxonomies.length || $root.$isSuperUser")
      md-list-item(ng-click="$mdMenu.open()", ng-class="{active: $root.$helper.testExp('taxonomy', $root.$state.current.name)}")
        md-icon(md-font-set="material-icons") format_list_bulleted
        p Taxonomy
      md-menu-content(width="4")
        md-menu-item(ng-repeat="taxonomy in $root.$config.taxonomies | orderBy: 'name'")
          md-button(ui-sref="taxonomy({taxonomySlug: taxonomy.slug})") {{ taxonomy.name }}
        md-menu-divider(ng-if="::$root.$isSuperUser")
        md-menu-item(ng-if="::$root.$isSuperUser")
          md-button(ng-click="vm.newTaxonomy($event)")
            md-icon(md-font-set="material-icons") add
            span New Taxonomy

    md-menu(md-offset="220 0", ng-show="($root.$permissions.ecommerce || $root.$isSuperUser) && $root.$config.moduleEnabled.ecommerce")
      md-list-item(ng-click="$mdMenu.open()", ng-class="{active: $root.$helper.testExp('ecommerce', $root.$state.current.name)}")
        md-icon(md-font-set="material-icons") shopping_cart
        p E-commerce
      md-menu-content(width="4")
        md-menu-item
          md-button(ui-sref="ecommerceOrders")
            // md-icon(md-font-set="material-icons") dashboard
            span Orders
        md-menu-item
          md-button(ui-sref="ecommerceDiscounts")
            // md-icon(md-font-set="material-icons") dashboard
            span Discounts
        md-menu-item
          md-button(ui-sref="ecommerceSettings")
            // md-icon(md-font-set="material-icons") dashboard
            span Settings

    md-menu(md-offset="220 0" ng-show="uploadSchemas.length")
      md-list-item(ng-click="$mdMenu.open()", ng-class="{active: $root.$helper.testExp('batchUpload', $root.$state.current.name)}")
        md-icon(md-font-set="material-icons") file_upload
        p Upload
      md-menu-content(width="4")
        md-menu-item(ng-repeat="schema in $root.$config.schemas | batchUploadSchemas as uploadSchemas")
          md-button(ui-sref="batchUploadEntity({schemaSlug: schema.slug})")
            // md-icon(md-font-set="material-icons") dashboard
            span {{ schema.name }}

    hr

    md-list-item(ui-sref="trash", ui-sref-active="active")
      md-icon(md-font-set="material-icons") delete
      p Trash

    md-list-item(ui-sref="user", ui-sref-active="active", ng-show="$root.$permissions.user || $root.$isSuperUser")
      md-icon(md-font-set="material-icons") people
      p Users

    md-list-item(ui-sref="settings", ui-sref-active="active", ng-show="$root.$permissions.settings || $root.$permissions.userSettings || $root.$isSuperUser")
      md-icon(md-font-set="material-icons") settings
      p Settings

    hr

    md-list-item(ng-show="$root.$config.client.baseUrl", ng-click="vm.preview()")
      md-icon(md-font-set="material-icons") desktop_mac
      p Preview

    md-list-item(ng-href="{{:: $root.clientBasePath + $root.slug }}/logout", target="_self")
      md-icon(md-font-set="material-icons") exit_to_app
      p Logout

    hr

    md-menu(md-offset="220 0", ng-if="::$root.$isSuperUser")
      md-list-item(ng-click="$mdMenu.open()", ui-sref-active, ng-class="{active: $root.$helper.testExp('schemas|tools', $root.$state.current.name)}")
        md-icon(md-font-set="material-icons") settings_applications
        p Admin
      md-menu-content(width="4")
        md-menu-item
          md-button(ui-sref="config")
            // md-icon(md-font-set="material-icons") dashboard
            span Config
        md-menu-item
          md-button(ui-sref="schemas")
            // md-icon(md-font-set="material-icons") dashboard
            span Schemas
        md-menu-item
          md-button(ui-sref="tools")
            // md-icon(md-font-set="material-icons") dashboard
            span Tools
