md-toolbar(title="{{$root.slug}}")
  .md-toolbar-tools
    h3(title="{{$root.slug}}") {{$root.$config.client.name || 'Fokus'}}

md-content

  md-list

    md-list-item(ui-sref="dashboard", ui-sref-active="active")
      md-icon(md-font-set="material-icons") dashboard
      p Dashboard

    md-menu(md-offset="220 0", ng-show="$root.$config.schemas.length")
      md-list-item(ng-click="$mdMenu.open()", ng-class="{active: $root.$helper.testExp('new|entity|view', $root.$state.current.name)}")
        md-icon(md-font-set="material-icons") create
        p Content
      md-menu-content(width="4")
        md-menu-item(ng-repeat="schema in $root.$config.schemas")
          md-button(ng-if="schema.settings.singular" ui-sref="singularEntity({id: schema.slug})")
            // md-icon(md-font-set="material-icons") dashboard
            span {{ schema.name }}
          md-button(ng-if="!schema.settings.singular" ui-sref="entityGrid({schemaSlug: schema.slug})")
            // md-icon(md-font-set="material-icons") dashboard
            span {{ schema.name | pluralize }}

    md-menu(md-offset="220 0", ng-show="$root.$config.taxonomies.length")
      md-list-item(ng-click="$mdMenu.open()", ng-class="{active: $root.$helper.testExp('taxonomy', $root.$state.current.name)}")
        md-icon(md-font-set="material-icons") format_list_bulleted
        p Taxonomy
      md-menu-content(width="4")
        md-menu-item(ng-repeat="taxonomy in $root.$config.taxonomies")
          md-button(ui-sref="taxonomy({taxonomySlug: taxonomy.slug})")
            // md-icon(md-font-set="material-icons") dashboard
            span {{ taxonomy.name }}

    md-menu(md-offset="220 0", ng-show="($root.$user.permissions.ecommerce || $root.$isSuperUser) && $root.$config.moduleEnabled.ecommerce")
      md-list-item(ng-click="$mdMenu.open()", ng-class="{active: $root.$helper.testExp('ecommerce', $root.$state.current.name)}")
        md-icon(md-font-set="material-icons") shopping_cart
        p E-commerce
      md-menu-content(width="4")
        md-menu-item
          md-button(ui-sref="ecommerceOrders")
            // md-icon(md-font-set="material-icons") dashboard
            span Orders
        md-menu-item
          md-button(ui-sref="ecommerceDiscounts")
            // md-icon(md-font-set="material-icons") dashboard
            span Discounts
        md-menu-item
          md-button(ui-sref="ecommerceSettings")
            // md-icon(md-font-set="material-icons") dashboard
            span Settings

    md-menu(md-offset="220 0")
      md-list-item(ng-click="$mdMenu.open()", ng-class="{active: $root.$helper.testExp('batchUpload', $root.$state.current.name)}")
        md-icon(md-font-set="material-icons") file_upload
        p Upload
      md-menu-content(width="4")
        md-menu-item(ng-repeat="schema in $root.$config.schemas | batchUploadSchemas")
          md-button(ui-sref="batchUploadEntity({schemaSlug: schema.slug})")
            // md-icon(md-font-set="material-icons") dashboard
            span {{ schema.name }}

    hr

    md-list-item(ui-sref="trash", ui-sref-active="active")
      md-icon(md-font-set="material-icons") delete
      p Trash

    md-list-item(ui-sref="file", ui-sref-active="active")
      md-icon(md-font-set="material-icons") folder
      p Files

    md-list-item(ui-sref="users", ui-sref-active="active", ng-show="$root.$user.permissions.users || $root.$isSuperUser")
      md-icon(md-font-set="material-icons") people
      p Users

    md-list-item(ui-sref="settings", ui-sref-active="active", ng-show="$root.$user.permissions.settings || $root.$isSuperUser")
      md-icon(md-font-set="material-icons") settings
      p Settings

    hr

    md-list-item(ng-show="$root.$config.client.baseUrl", ng-click="vm.preview()")
      md-icon(md-font-set="material-icons") desktop_mac
      p Preview

    md-list-item(ng-href="{{:: $root.basePath }}logout", target="_self")
      md-icon(md-font-set="material-icons") exit_to_app
      p Logout

    hr

    md-menu(md-offset="220 0", ng-if="::$root.$isSuperUser")
      md-list-item(ng-click="$mdMenu.open()", ng-class="{active: $root.$helper.testExp('admin', $root.$state.current.name) && $root.$state.params.adminType !== 'user'}")
        md-icon(md-font-set="material-icons") settings_applications
        p Admin
      md-menu-content(width="4")
        md-menu-item
          md-button(ui-sref="admin({adminType: 'field'})")
            // md-icon(md-font-set="material-icons") dashboard
            span Fields
        md-menu-item
          md-button(ui-sref="admin({adminType: 'schema'})")
            // md-icon(md-font-set="material-icons") dashboard
            span Schemas
        md-menu-item
          md-button(ui-sref="admin({adminType: 'taxonomy'})")
            // md-icon(md-font-set="material-icons") dashboard
            span Taxonomy
        md-menu-item
          md-button(ui-sref="admin({adminType: 'action'})")
            // md-icon(md-font-set="material-icons") dashboard
            span Actions
        md-menu-item
          md-button(ui-sref="tools")
            // md-icon(md-font-set="material-icons") dashboard
            span Tools

    md-list-item(ng-href="{{:: $root.basePath }}switch", target="_self", ng-if="::$root.$isSuperUser")
      md-icon(md-font-set="material-icons") swap_horiz
      p Switch
